<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}Jonathan Bobel</title>
  <link rel="preload" href="/fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/Raleway-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="/css/tailwind.output.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link href="/css/tailwind.output.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-light text-dark font-sans" onload="document.body.classList.remove('opacity-0')">
<div id="tsparticles"></div>
  <!-- Navbar -->
  <nav class="bg-light fixed top-0 left-0 w-full z-50 font-sans">
  <div class="container max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <h1 class="text-3xl font-bold">
      Jonathan Bobel
    </h1>

    <!-- Hamburger / X Toggle Button -->
    <button id="menu-btn"
            class="relative z-50 flex flex-col justify-center items-center w-8 h-8 space-y-1 md:hidden focus:outline-none group"
            aria-label="Toggle menu">
      <span class="w-8 h-1 bg-dark transition-all duration-300 ease-in-out origin-center group-[.open]:rotate-45 group-[.open]:translate-y-2"></span>
      <span class="w-8 h-1 bg-dark transition-all duration-300 ease-in-out group-[.open]:opacity-0"></span>
      <span class="w-8 h-1 bg-dark transition-all duration-300 ease-in-out origin-center group-[.open]:-rotate-45 group-[.open]:-translate-y-2"></span>
    </button>


    <!-- Navigation Links -->
    <ul id="menu" class="hidden md:flex space-x-6 text-2xl font-bold">
      <li>
        <a href="/" class="relative {% if page.url == '/' %}before:scale-x-100{% else %}hover:before:scale-x-100{% endif %} before:absolute before:bottom-[-4px] before:left-0 before:w-full before:h-[4px] before:bg-teal before:scale-x-0 before:origin-left before:transition-transform before:duration-300">
          Home
        </a>
      </li>
      <li>
        <a href="/about/" class="relative {% if page.url == '/about/' %}before:scale-x-100{% else %}hover:before:scale-x-100{% endif %} before:absolute before:bottom-[-4px] before:left-0 before:w-full before:h-[4px] before:bg-teal before:scale-x-0 before:origin-left before:transition-transform before:duration-300">
          About
        </a>
      </li>
      <li>
        <a href="/projects/" class="relative {% if page.url == '/projects/' %}before:scale-x-100{% else %}hover:before:scale-x-100{% endif %} before:absolute before:bottom-[-4px] before:left-0 before:w-full before:h-[4px] before:bg-teal before:scale-x-0 before:origin-left before:transition-transform before:duration-300">
          Projects
        </a>
      </li>
      <li>
        <a href="/contact/" class="relative {% if page.url == '/contact/' %}before:scale-x-100{% else %}hover:before:scale-x-100{% endif %} before:absolute before:bottom-[-4px] before:left-0 before:w-full before:h-[4px] before:bg-teal before:scale-x-0 before:origin-left before:transition-transform before:duration-300">
          Contact
        </a>
      </li>
    </ul>
  </div>

   {# <label for="uhc-toggle" class="cursor-pointer flex fixed items-center gap-2 text-md font-medium top-0 right-4 h-[68px]">
    <span class="text-neutral-700 uhc:text-white">High Contrast Mode</span>
    <div class="relative">
      <input type="checkbox" id="uhc-toggle" class="sr-only" />
      <div class="block w-10 h-6 rounded-full bg-neutral-400 uhc:bg-yellow-500 transition-colors"></div>
      <div class="dot absolute left-1 top-1 w-4 h-4 rounded-full bg-white transition transform duration-300"></div>
    </div>
  </label> #}

  <!-- Mobile Slide-in Menu -->
  <div id="mobile-menu"
      class="fixed top-0 right-0 h-full w-3/4 max-w-sm bg-light text-dark transform translate-x-full transition-transform duration-300 ease-in-out md:hidden z-40 flex flex-col space-y-6 p-6">
    <a href="/" class="text-xl hover:text-teal">Home</a>
    <a href="/about/" class="text-xl hover:text-teal">About</a>
    <a href="/projects/" class="text-xl hover:text-teal">Projects</a>
    <a href="/contact/" class="text-xl hover:text-teal">Contact</a>
  </div>
  </nav>

  <!-- Backdrop Overlay -->
  <div id="menu-backdrop"
     class="fixed inset-0 bg-neutral-800 bg-opacity-40 opacity-0 hidden z-30 md:hidden transition-opacity duration-300 ease-in-out">
  </div>

  <main class="flex-grow container mx-auto max-w-6xl animate-fadeIn animation-fill-forwards">
    {{ content | safe }}  
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-light py-3 text-center font-sans">
    <p>&copy; 2025 Jonathan Bobel. All rights reserved.</p>
  </footer>

  <script src="/js/main.js"></script>
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  {% if env == "production" %}
    <script defer src="/_vercel/insights/script.js"></script>
  {% endif %}
  {# <script src="/js/projects.js" defer></script> #}

</body>
</html>