---
title: Home
layout: base.njk
---

<section class="min-h-[calc(100vh-72px)] py-32 bg-light flex items-center justify-center px-5">
  <div class="container mx-auto flex flex-col md:flex-row items-center md:items-center gap-20">
    
    <!-- Image -->
    <img src="/images/me.jpg" alt="Jonathan Bobel" 
      class="border-8 border-primary w-80 h-80 md:w-96 md:h-96 rounded-full shadow-lg 
             transform transition-transform duration-200 ease-in-out hover:scale-110">
    
    <!-- Text -->
    <div class="text-center md:text-left">
      <h2 class="text-4xl md:text-6xl font-bold font-sans text-primary">
        Jonathan Bobel<br>
        <span class="text-teal">Design Technologist</span>
      </h2>
      <p class="mt-4 text-lg md:text-2xl max-w-xl leading-relaxed">
        Hey there! Welcome to my portfolio. Feel free to explore my work and get to know what I do. If you’d like to connect, just click 
        <a href="/contact" class="text-primary underline">here</a>.
      </p>
    </div>
  
  </div>
</section>